<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <script src="https://unpkg.com/vue"></script>
  <title>PoE Addons Organizer</title>
</head>

<body>
  <div id="app" v-cloak>
    <section class="addon" v-if="addon.releases.length > 0" v-for="addon in addons">
      <h2 class="addon__title">{{ addon.title }}</h2>
      <section class="addon__releases">
        <h3>Releases</h3>
        <select class="addon__release-list">
          <optgroup class="release" v-bind:label="release.title" v-for="release in addon.releases">
            <option class="release__archive" v-for="archive in release.archives">{{ archive }}</option>
          </optgroup>
        </select>
        <button v-on:click="download" class="addon__release-download-button">Download</button>
      </section>
  </div>
  </div>
</body>
<script>
  require("babel-register");
  require('./renderer.js');

</script>

</html>