<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css" />
  <script src="https://unpkg.com/vue"></script>
  <title>PoE Addons Organizer</title>
</head>

<body>
  <div id="app" v-cloak>
    <section class="addon" v-for="addon in addons">
      <h3 class="addon__title">{{ addon.title }}</h3>
      <select v-if="addon.releases.length > 0" class="addon__release release">
        <optgroup v-bind:label="release.tag" v-for="release in addon.releases">
          <option class="release__archive" v-for="archive in release.archives">{{ archive }}</option>
        </optgroup>
      </select>
  </div>
  </div>
</body>
<script>
  require("babel-register");
  require('./renderer.js');

</script>

</html>